Plan de la tâche - Stakeholders' map

1. Création des types de données
2. Création des tables csv
3. Importation dans neo4j sous forme de noeuds-relations
4. Design des requêtes
5. Possibilité d'interroger la base via une API

# Création de tables CSV

## Design des noms

In [1]:
from random import random
import numpy as np
import pandas as pd

In [2]:
#noms de famille les plus courants en France entre 1891 et 1900
nom = ["Martin", "Bernard", "Thomas", "Petit", "Robert", "Richard", "Durand", "Dubois", "Moreau", "Laurent", "Simon", "Michel", "Lefèvre", "Leroy", "Roux", "David", "Bertrand", "Morel", "Fournier", "Girard", "Bonnet", "Dupont", "Lambert", "Fontaine", "Rousseau", "Vincent", "Muller", "Lefevre", "Faure", "Andre", "Mercier", "Blanc", "Guerin", "Boyer", "Garnier", "Chevalier", "Francois", "Legrand", "Gauthier", "Garcia", "Perrin", "Robin", "Clement", "Morin", "Nicolas", "Henry", "Roussel", "Mathieu", "Gautier", "Masson", "Marchand", "Duval", "Denis", "Dumont", "Marie", "Lemaire", "Noel", "Meyer", "Dufour", "Meunier", "Brun", "Blanchard", "Giraud", "Joly", "Riviere", "Lucas", "Brunet", "Gaillard", "Barbier", "Arnaud", "Martinez", "Gerard", "Roche", "Renard", "Schmitt", "Roy", "Leroux", "Colin", "Vidal", "Caron", "Picard", "Roger", "Fabre", "Aubert", "Lemoine", "Renaud", "Dumas", "Lacroix", "Olivier", "Philippe", "Bourgeois", "Pierre", "Benoit", "Rey", "Leclerc", "Payet", "Rolland", "Leclercq", "Guillaume", "Lecomte"]

#prénoms les plus donnés en France en 1900
prénom = ["Marie","Jean","Jeanne","Louis","Marguerite","Pierre","Joseph","Germaine","Henri","Louise","Marcel","Georges","André","Yvonne","Madeleine","Suzanne","Paul","René","Charles","François","Emile","Maurice","Marthe","Marcelle","Maria","Anne","Albert","Eugène","Joséphine","Léon","Eugénie","Berthe","Henriette","Lucien","Alice","Hélène","Lucie","Jules","Auguste","Georgette","Robert","Lucienne","Renée","Juliette","Fernand","Gaston","Raymond","Antoine","Roger","Gabrielle"]

In [3]:
#nombre de gens à créer
N = 100

In [4]:
def gen_nom():
    Prenom = prénom[int(random()*len(prénom))]
    Nom = Prenom
    while Prenom == Nom:
        Nom = nom[int(random()*len(nom))]
    return Prenom+' '+Nom

In [5]:
personne = []
for i in range(N):
    personne += [gen_nom()]

In [6]:
pd.DataFrame(personne,columns=["Nom"])

                  Nom
0    Germaine Lacroix
1         Renée Andre
2      Marcelle Faure
3        Jeanne Roche
4     Joséphine Blanc
..                ...
95  Joséphine Olivier
96      André Leclerc
97        René Perrin
98   Yvonne Bourgeois
99   Georges Marchand

[100 rows x 1 columns]

In [7]:
pd.DataFrame(personne,columns=["Nom"]).to_excel("Humains.xlsx")